.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.navlink{
  text-decoration: none;
  border: none;
  font-family: Arial, sans-serif;;
  font-size: 14px;
  text-transform: none;
}
.control{
  margin-top:10px;
}
.card col-lg-2 col-sm-4 col-md-3{
  width: 100% ;
  border:1px solid black;
  margin-left:2.5%;
  display:inline-block ;
  margin-top:40px;
  box-shadow:1px 1px 4px 1px black;
}
/*-----------header------*/
header{
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  letter-spacing: 2px;
}
a:hover{
  color: lightseagreen;
}
ul li{
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}
.menu{
  display: none;

}
.cart-icon{
  position: relative;
  margin-right: 15px;
}
.cart-icon span{
  background: crimson;
  border-radius: 20px;
  color: white;
  position: absolute;
  top:-10px;
  right: -10px;
  font-size: 10px;
  padding: 5px;
}

@media (max-width: 700px){
  header{
    justify-content: space-between;
  }

  ul{
    position: fixed;
    top:0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.98;
    z-index: 99;
    transition: 0.5s ease-in;
  }

  .menu{
    display: block;
    cursor: pointer;
    position: relative;
  }

  ul li .menu{
    position: absolute;
    top: 20px;
    right: 20px;
  }

}

/*-------------cart---------*/
.detail{
  position: relative;
}
.delete{
  position: absolute;
  right: 15px;
  top:15px;
  margin:auto 0;
  color:red;
}
.titleDetail{
  text-transform:uppercase;
  font-size:30px;
  margin-bottom:25px;
}
.info{
  text-align: left;
  line-height: 30px;
  margin :auto 0;
  text-align: center;
  
}

/*------------detail----------*/
.btn-cart{
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 15px;
}
.btn-buy{
  margin-top: 10px;
  margin-bottom: 15px;
}

/*-------------footer--------*/
.group{
  font-size:13px;
}

/*------------Register------------*/
.control{
  margin-top: 20px;
}


/*---------------Login-------------*/
.labelForm{
  padding-left: 0px;
}

/*---------------ProductItem---------*/
.item{
  width: 100%;
  position: relative;
  border:1px solid  rgba(109,207,246,.5);
  margin-left: 2.5%;
  display: inline-block;
  margin-top: 40px;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  font-size: 12px;
}
.discountLabel{
  width:20%;
  background-color: red;
  position: absolute;
  top:10px;
  left: 0px;
}
div.item:hover{
  border:1px solid gray;
  box-shadow: 1px 1px 4px 1px gray;
  
}
.img{
  position: relative;
}
.img:hover{
  transform: scale(0.9);
  transition: all ease-in-out 0.5s;
}
@media (max-width: 1920px){
  .item{
    width: 20%;
  }
}
@media (max-width: 1200px){
  .item{
    width: 30%;
  }
}
@media (max-width: 800px){
  .item{
    width: 45%;
  }
}
/*-------------NotFound--------------*/
.notfound{
  height:300px;
  padding-top: 60px;
  font-size: 35px;
  background-color:#FFFF;
  text-transform: none;
}
/*-------------Search--------*/

.inputSearch{
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 10em;
  outline: none;
  position: relative;
}
.inputSearch:focus{
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);  
}
.searchBtn{
  background-color: black;
  border: none;
  color:white;
  text-align: center;
  font-size: 16px; 
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  height:40px;
  width: 40px;
  right:14%;
  border-radius: 50%;
  position: absolute;
  right: 15px;
}
.searchBtn:hover{
  opacity: 1;
}

.autoCombo-box{
  position: absolute;
  z-index: 9999;
  background-color:#EDEDED;
  
 
}
.autoCombo-box .keyItem{
  list-style: none;
  text-align: left;
  text-indent: 35px;
  cursor: pointer;
  width: 100%;
  margin: 0;
  
}
.autoCombo-box .keyItem:hover{
  background-color: coral;
  border:3px solid red;
}



/*----------grid----------------------*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 20%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*---------------Contact-------------*/
.address{
   border-bottom:1px solid black;
   padding-bottom:25px
}
.phoneContact{
  border-bottom:1px solid black;
  margin-top:15px;
  margin-bottom:25px;
  padding-bottom:25px
}
.emailContact{
  border-bottom: 1px solid black;
  margin-bottom: 25px;
  padding-bottom: 25px;
}